{% extends "base.html" %}
{% block title %}Assets{% endblock %}

{% block content %}
<h2>All Assets</h2>
<ul class="list-group mb-3">
  {% for asset in assets %}
    <li class="list-group-item">
      <strong>{{ asset.asset_name }}</strong><br>
      Category: {{ asset.category }}<br>
      Purchase Date: {{ asset.purchase_date }}<br>
      Condition: {{ asset.condition }}<br>
      Status: {{ asset.status }}<br>
      <a href="{{ url_for('views.edit_asset', id=asset.id) }}">Edit</a>
    </li>
  {% endfor %}
</ul>

<a href="{{ url_for('views.add_asset') }}" class="btn btn-primary">➕ Add New Asset</a>
{% endblock %}
